@tailwind base;
@tailwind components;

:root { 
    box-sizing: border-box; 
    line-height: 1.4; 
    -moz-text-size-adjust: none; 
    -webkit-text-size-adjust: none; text-size-adjust: none; 
}

*, *::before, *::after {
    box-sizing: interit;
}

*:focus-visible {
    outline: 0;
}

body, h1, h2, h3, h4, h5,h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

html, body {
    height: 100%;
}

body {
    font-family: poppins, sans-serif, tahoma;
}

#app {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}