@layer reset {
    * {
        margin: 0;
        padding: 0
    }

    html, body {
        height: 100%;
    }
}

@layer base-color {
    :root {
        --bg-color: #121212;
        --text-color: #ccc;
    }
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
}

#app {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    display: grid;
    place-content: center;
}