html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

:root {
  --outline-color: #ccc;
}

#app {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  & > *  {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  [data-role="placeholder"] {
    position: relative;
    width: 440px;
    aspect-ratio: 1;
    margin-bottom: 1em;
    outline: 1px solid var(--outline-color);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
