@layer reset {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;  
  }

  html, body {
    height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }
}

body {
  display: grid;
  place-items: center;
}
